/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');


body {
    font-family: 'Mulish', sans-serif;
}


/* nav section */

header {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

header .travel {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

header img {
    width: 48px;
    height: 56.008px;

}

header nav {
    display: flex;
}

header .travel-tittle {
    margin-left: 16px;
}

header nav li {
    list-style: none;
    margin-right: 44px;

}

header .hero {
    color: #FF5400;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
}

nav li .home {
    color: #FF5400;
}

/* header style end */

/* banner style related css */

.banner {
    background-image: url(../Images/group1.png);
    max-width: 1170px;
    height: 500px;
    background-repeat: no-repeat;
    margin: 20px auto;
    text-align: center;
    position: relative;

}

.banner-text-section {
    position: absolute;

    left: 22%;
    top: 25%;

}

.banner .banner-tittle {
    color: #FFF;

    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
}

.banner .banner-description {
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}


.banner input {
    padding: 16px 60px 16px 16px;
    border-radius: 16px;
    border: none;
}

.banner .select {
    padding: 16px 60px 16px 16px;
    border-radius: 16px;
    border: none;

}

.banner .button-primary {
    padding: 16px 60px 16px 16px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}



.banner .form {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;

}

/* tour container style */
.tour-container {
    display: flex;
    max-width: 1170px;
    margin: 80px auto;


}

.tour-container .popular-tittle {
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-container .popular-description {
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 1rem;
}

.tour-container .popular h6 {
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
}

.tour-container .popular-footer {
    color: #5A5A5D;

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.tour-container .button-read {
    padding: 16px 60px 16px 16px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

/* destinatiob section */
.destination {
    max-width: 1170px;
    border: 2px solid tomato;
    margin: 20px auto;

}

.destination .destination-text-item {
    text-align: center;
}

.destination .destination-row {
    color: #FFF;
    display: grid;
    grid-template-rows: 573px 573px 374px 474px 274px 473px 673px;
    grid-template-columns: repeat(3, 1fr);
}

.Maldives {
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    grid-row: 1/3;
}

.indonesia {
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    grid-row: 1/3;
}

.Srilanka {
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
}

.NorthAmerica {
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
}

.Kashmir {
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
}

.Bangladesh {
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
}

.Bandarban {
    background-image: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
}




/* choose section related style start*/
.choose-container {
    max-width: 1170px;
    margin: 50px auto;

}

.choose-container .text-section {
    text-align: center;
}

.choose-container .choose-card {
    display: flex;
    gap: 20px;
}

.choose-container .choose-card .card1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-container .choose-card .card2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-container .card3 {

    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 20px auto;
}

/* choose section related style end*/

/* lost related style start */

.get-lost-section {
    max-width: 1170px;
    display: flex;
    background-size: 50;
    margin: 50px auto;

}

.get-lost-section .back-img {
    background-image: url(../Images/Group\ 40089.png);
    background-repeat: no-repeat;
    width: 610px;
    height: 424px;
}

.get-lost-section .back-img h1 {
    color: #FFF;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    margin-top: 120px;
    margin-left: 130px;
    font-size: 1.5rem;
}


.get-lost-section .lost-tittle {
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;

}

.get-lost-section .lost-section {
    max-width: 50%;
}

.get-lost-section .lost-description {
    color: #5A5A5D;


    font-size: 1rem;

}

.get-lost-section .lost-section h6 {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
}

.get-lost-section button {
    padding: 16px 60px 16px 16px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.get-lost-section .lost-img h3 {
    text-align: center;
    top: 40%;
}


/* lost related style end */